@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse-content {
	padding: 0;
}

:root {
	--sidebar-width: clamp(300px, 50vw, 350px);
}

.drawer-side > *:not(.drawer-overlay) {
	--tw-translate-x: calc(-100% - 1rem);
	transform: translateX(var(--tw-translate-x));
}

.drawer-toggle:checked ~ .drawer-side {
	pointer-events: auto;
	visibility: visible;
	overflow-y: visible;
}

:root::view-transition-old(root),
:root::view-transition-new(root) {
	animation-duration: 0.2s;
}

.form-control {
	gap: 0.2rem;
}

.label {
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* body,
html {
	height: 200px;
} */

html,
body {
	height: 100dvh;
	padding: 0;
	margin: 0;
}
#map {
	height: 100%;
	width: 100vw;
}
