services:
  nginx:
    restart: always
    build:
        context: ./nginx
    ports:
      - "82:82"
      - "81:81"
    stdin_open: true # todo: remove
    tty: true
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - pocketbase_db
    image:  ghcr.io/immo-be/proj-maplibre-polygon-proxy


  app:
    build:
      context: ./app
      dockerfile: Dockerfile
      target: ${BUILD_TARGET}
      args:
      - APP_PORT
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./app:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    image: ghcr.io/immo-be/proj-maplibre-polygon-app


  pocketbase_db:
    build:
      context: ./database
      dockerfile: Dockerfile
      args:
        TARGETOS: linux
        TARGETARCH: amd64
        VERSION: 0.21.1 # Version of the pocketbase_db, make sure it matches the version used in the client SDK
    depends_on:
    - app
    ports:
      - '8090:8090'
    stdin_open: true
    tty: true
    volumes:
      - pb_data_:/usr/local/bin/pb_data
    image:  ghcr.io/immo-be/proj-maplibre-polygon-pocketbase_db


volumes:
  pb_data_:
