name: publish

on:
  push:
    branches: [ "main" ]

env:
  BUILD_TARGET: production
  APP_PORT: 3000

jobs:
  publish-and-deploy:
    name: build, publish and deploy images
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.PAT }}

    - name: Build and push images
      run: |
        BUILD_TARGET=${{ env.BUILD_TARGET }} APP_PORT=${{env.APP_PORT}} docker compose build
        docker compose push

    - name: Deploy to server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ${{ secrets.WORK_DIR }}
          echo ${{ secrets.PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker compose pull
          docker compose up -d